
mixin address(title)
	.field
		label.label.is-small #{title}
		.control.has-icons-left
			input(type="text", placeholder="Address 1").input.is-small
			span.icon.is-small.is-left
				i.fas.fa-home
		
		.control.has-icons-left
			input(type="text", placeholder="Address 2").input.is-small
			span.icon.is-small.is-left
				i.fas.fa-home
		
		.control.has-icons-left
			input(type="text", placeholder="City").input.is-small
			span.icon.is-small.is-left
				i.fas.fa-city
		
		.control.has-icons-left
			input(type="text", placeholder="Postcode").input.is-small
			span.icon.is-small.is-left
				i.fas.fa-map-marker-alt