mixin sidenav()
	div(class="uk-width-1-4@m uk-visible@m")
		ul.uk-nav.uk-nav-default(uk-nav uk-sticky="offset: 60")
			li.uk-margin-small-top
				label.uk-form-label(for="staffassign")
					| Assign Staff