include address

mixin jobsheet-customer-details(obj)
	.card.box.is-paddingless.is-shadowless(style="background-color: #eee; border-radius: 6px; border: 1px solid #ddd;")
		header.card-header.is-shadowless(style="background-color: #000; border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom: 1px solid #ddd;")
			div.card-header-title.is-paddingless
				h1.card-header-title(style="color: #fff;") Customer Details 
			.tags.is-marginless
				span.tag.is-info(style="margin-bottom: 0px") Last Modified
				span.icon(style="color: #fff;")
					i.fas.fa-user-circle.fa-lg
			.card-header-icon(style="color: #fff;")
				span.icon
					i.fas.fa-angle-down.fa-lg
		.card-content
			.content
				.columns
					.column
						.columns
							.column
								.field
									label.label.is-small Title
									.control.has-icons-left
										.select.is-small
											select
												option(value="Mr") Mr
												option(value="Mrs") Mrs
												option(value="Miss") Miss
												option(value="Dr") Dr
										span.icon.is-small.is-left
											i.fas.fa-user-circle
							.column
								.field
									label.label.is-small First Name
									.control.has-icons-left
										input.is-small(type="text", placeholder="First Name", value=obj.customer.firstname).input
										span.icon.is-small.is-left
											i.fas.fa-user-circle
							.column
								.field.is-small
									label.label.is-small Surname
									.control.has-icons-left
										input.is-small(type="text", placeholder="First Name", value=obj.customer.lastname).input
										span.icon.is-small.is-left
											i.fas.fa-user-circle
						.field
							label.label.is-small Phone Number
							.columns
								.column
									.control.has-icons-left
										input.is-small(type="text", placeholder="Telephone").input
										span.icon.is-small.is-left
											i.fas.fa-phone
								.column
									.control.has-icons-left
										input.is-small(type="text", placeholder="Mobile").input
										span.icon.is-small.is-left
											i.fas.fa-mobile-alt
					.column
				.columns
					.column
						+address("Address")
					.column
						+address("Billing Address")