
include order-part
include site-visit
include form-controls

mixin jobsheet-section(section, jobsheet, partlayout, sitevisit)
	li
		a.uk-accordion-title(href="#")
			if section.title != null
				| #{section.title}
			else
				| Default Title 
		section(id=section.title).uk-accordion-content
			.form.uk-form-horizontal
				if section.fields != null && section.fields.length != 0
					each field in section.fields
						- var elementname = section.name+field.name
						if jobsheet != null
							- var input = jobsheet.data[elementname]
						if input != null 
							- var value = input.value
						.div.uk-margin
							if field.type == "partadd"
								if jobsheet != null
									+addpart(partlayout, jobsheet.data.parts)
								else
									+addpart(partlayout, null)
							else if field.type == "sitevisit"
								if jobsheet != null
									+addsitevisit(sitevisitlayout, jobsheet.data.sitevisits)
								else
									+addsitevisit(sitevisitlayout, null)
							else
								+controls(elementname, field, input, value)

				else
					p No fields in layout