include jobsheet-card
mixin jobsheet-list(obj)
	.box.is-paddingless.is-shadowless(style="background-color: #eee; border-radius: 6px; border: 0px;overflow: hidden; height: 100%;")
		header.card-header.is-shadowless
			div.card-header-title(style="padding-bottom:0px; padding-top:0px;")
				span.tag.is-success #{obj.jobsheets.length}
				h1.card-header-title #{obj.tag}
			a.card-header-icon
				span.icon
					i.fas.fa-plus
			a.card-header-icon
				span.icon
					i.fas.fa-ellipsis-h
		.card-content(style="overflow-y:scroll; height: 100%")
			if obj.jobsheets
				each jobsheet in obj.jobsheets
					+jobsheet-card(jobsheet)
				span
				br
				span
				br