mixin jobsheet-card(obj)
	- var firstname = obj.customer.firstname
	- var lastname = obj.customer.lastname
	card.box.is-shadowless(style="padding: 0.75rem; border-radius: 6px; border: 1px solid #ddd;")
		.media
			.media-left
				//span.icon.is-large
					i.far.fa-file-alt.fa-lg
			.media-content(style="padding-top: 0.4rem; padding-bottom: 0.4rem;")
				a.is-pulled-right(style="margin-top: -0.4rem")
					span.icon.is-large
						i.fas.fa-ellipsis-v
				h1.title.is-6 
					a(href='/jobsheet/' + obj._id) Jobsheet Name
				h2.subtitle.is-7 #{firstname} #{lastname}
				.content.is-small 
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut mauris in lectus suscipit dictum eget nec quam. Aliquam condimentum quam nec sem dapibus sagittis. 
				.tags.is-pulled-left.is-marginless
					each tag in obj.tags
						span.tag.is-link #{tag}
				.tags.is-pulled-right.is-marginless
					span.tag.is-info Last Modified
					span.icon(style="margin-top: -0.5rem")
						i.fas.fa-user-circle