include jobsheet-card
mixin jobsheet-list(obj)
	.box.is-paddingless
		header.card-header.is-shadowless
			div.card-header-title
				span.tag.is-success 10
				h1.card-header-title Default Title
			a.card-header-icon
				span.icon
					i.fas.fa-plus
			a.card-header-icon
				span.icon
					i.fas.fa-ellipsis-h
		.tile
			.tile.is-vertical
				.tile.is-parent.is-vertical
					+jobsheet-card(obj)
					+jobsheet-card(obj)
					+jobsheet-card(obj)
		//footer.card-footer
			//a.card-footer-item Save
			//a.card-footer-item Edit
			//a.card-footer-item Delete