mixin jobsheet-description(obj)
	.card.box.is-paddingless.is-shadowless(style="background-color: #eee; border-radius: 6px; border: 1px solid #ddd;")
		header.card-header.is-shadowless(style="background-color: #000; border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom: 1px solid #ddd;")
			div.card-header-title.is-paddingless
				h1.card-header-title(style="color: #fff;") Description of Problem
			.tags.is-marginless
				span.tag.is-info(style="margin-bottom: 0px") Last Modified
				span.icon(style="color: #fff;")
					i.fas.fa-user-circle.fa-lg
			.card-header-icon(style="color: #fff;")
				span.icon
					i.fas.fa-angle-down.fa-lg
		.card-content
			.content
				.field
					label.label.is-small Description
					textarea.is-small(placeholder="Description").textarea
				.columns
					.column
						.field
							label.label.is-small Make
							.control.has-icons-left
								input.is-small(type="text", placeholder="Make").input
								span.icon.is-small.is-left
									i.fas.fa-desktop
						.field
							label.label.is-small Model
							.control.has-icons-left
								input.is-small(type="text", placeholder="Model").input
								span.icon.is-small.is-left
									i.fas.fa-desktop
						.columns
							.column
								.field
									.columns
										.column.is-three-quarters
											label.label.is-small Charger? 
										.column
											input.is-small(type="checkbox")
							.column
								.field
									.columns
										.column.is-three-quarters
											label.label.is-small Bag?
										.column
											input.is-small(type="checkbox")
					.column
						.field
							label.label.is-small PC Username
							.control.has-icons-left
								input.is-small(type="text", placeholder="Username").input
								span.icon.is-small.is-left
									i.fas.fa-user
						.field
							label.label.is-small PC Password
							.control.has-icons-left
								input.is-small(type="text", placeholder="Password").input
								span.icon.is-small.is-left
									i.fas.fa-key