include form-controls

mixin addpart(partlayout, parts)
	ul#partlist(uk-accordion="multiple: true").nested-accordion
		if(parts != null)
			each part in parts
				each section in partlayout
					+newpart(section, part)
	button(type="button").add-part.uk-button.uk-button-primary Add Part

mixin newpart(partlayout, part)
	li.uk-margin-medium-left.part
		a.uk-accordion-title(href="#")
			| New Part
		.uk-accordion-content
			.form.uk-form-horizontal.uk-clearfix
				each field in partlayout.fields
					- var elementname = field.name
					if part != null
						- var input = part.data[elementname]
					if input != null 
						- var value = input.value
					.div.uk-margin
						+controls(elementname, field, input, value)
			button.uk-button.uk-button-danger.uk-float-right Delete

