include form-controls

mixin addpart(partlayout, parts)
	ul#partlist(uk-accordion="multiple: true").nested-accordion
		if(parts != null)
			each part in parts
				each section in partlayout
					+newpart(section, part)
	.uk-placeholder.uk-padding-small.placeholder-primary(style="background-color:white")
		a.uk-accordion-title.add-part
			| Add Part

mixin newpart(partlayout, part)
	li.part
		- var name = "New Part"
		if part != null
			if part.data['item'].value != null
				- name = part.data['item'].value
		a.uk-accordion-title(href="#")
			| #{name}
		.uk-accordion-content
			.form.uk-form-horizontal.uk-clearfix
				each field in partlayout.fields
					- var elementname = field.name
					if part != null
						- var input = part.data[elementname]
					if input != null 
						- var value = input.value
					.div.uk-margin
						+controls(elementname, field, input, value)
			button(type="button").uk-button.uk-button-danger.uk-float-right.button-delete Delete

