extends ../layout/layout

include partials/inputs
include partials/formgeneration

block content
	.uk-grid-large(uk-grid).uk-padding
		.uk-invisible(class="uk-width-1-4@m")
		if jobsheet != null
			- var date = moment(new Date(jobsheet.meta.created)).format('MMM Do YYYY')
			// https://stackoverflow.com/questions/10073699/pad-a-number-with-leading-zeros-in-javascript
			- var n = jobsheet._id
			- var width = 8
			- var z = '0';
			- n = n + '';
			- n = n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
			h1#title ##{n} - #{jobsheet.customer.name} (#{date})
		else
			h1 New Job Sheet

	form#jobsheetform.uk-form-stacked.uk-margin-large-bottom
		.uk-grid(uk-grid)
			if jobsheet
				+sidenav(jobsheetTemplate, jobsheet.meta, userList)
			else
				+sidenav(jobsheetTemplate, null, userList)
			.uk-width-expand
				+firstkeys(jobsheetTemplate, jobsheet)
	
	if jobsheet != null
		#id.uk-hidden(data-id=jobsheet._id)

	script(src='/javascripts/jobsheet.js')