extends layout

include partials/jobsheet-list

block content
	include navigation
	.container
		.section
			.columns
				.column
					+jobsheet-list(result)
				.column
					+jobsheet-list(result)
				.column
					+jobsheet-list(result)

