extends layout

include partials/jobsheet-list

block content
	include navigation
	.section
		.container
			.columns
				.column
					+jobsheet-list(result)
				.column
					+jobsheet-list(result)
				.column
					+jobsheet-list(result)

