extends layout/layout

include partials/jobsheet-section
include partials/jobsheet-sidenav

block content
	.uk-grid-large(uk-grid).uk-margin-small-bottom
		.uk-invisible(class="uk-width-1-4@m")
		if jobsheet != null
			- var date = moment(new Date(jobsheet.created)).format('MMM Do YYYY')
			h1 #{jobsheet.data.customerdetailsname.value} (#{date})
		else
			h1 New Job Sheet
			
	form#jobsheetform.uk-margin-large-bottom
		.uk-grid-large(uk-grid)
			+sidenav(jobsheet, staff)
			
			div(class="uk-width-expand@m")
				ul(uk-accordion="multiple: true")
					each section in layout
						+jobsheet-section(section, jobsheet, partlayout, sitevisitlayout)
		
	if jobsheet != null
		p#id.uk-hidden
			| #{jobsheet._id}

	script(src='/javascripts/job-sheet.js')
	script(src='/javascripts/problem-other.js')