extends layout/layout

block content
	h1.title All jobsheets
	ul.uk-list
		each jobsheet in jobsheets
			li
				a(href='/jobsheet/'+jobsheet._id) #{jobsheet._id} #{jobsheet.data.customerdetailsname.value}