mixin addpart()
	ul#partlist(uk-accordion="multiple: true").nested-accordion
	.uk-placeholder.uk-padding-small.placeholder-primary(style="background-color:white")
		a.uk-accordion-title.add-part Add Part