body {
	padding: 50px;
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

.clickable {
	cursor: pointer;
}

:focus {
	border-style: dashed;
	border-width: 2px;
	border-color: #00b4fc;
}

button:focus {
	background: #00b7ff;
	border-style: dashed;
	border-width: 3px;
	border-color: #ffffff;
}
