body {
	padding: 50px;
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

.clickable {
	cursor: pointer;
}

:focus {
	border-style: dashed;
	border-width: 2px;
	border-color: #00b4fc;
}

button:focus {
	background: #00b7ff;
	border-style: dashed;
	border-width: 3px;
	border-color: #ffffff;
}

.uk-nav {
	background-color: #ffffff;
	padding: 20px !important;
}

.uk-accordion > li {
	background-color: #f8f8f8;
	padding: 20px;
}

.nested-accordion > li {
	background-color: white;
	padding: 20px;
}

.uk-checkbox:not(:checked) {
	background-color: white !important;
}

.uk-radio:not(:checked) {
	background-color: white !important;
}

.placeholder-primary {
	border-color: #0f7ae5 !important;
}
