doctype html
html(style="overflow:hidden;")
	head
		title= title
		include header
	body.has-navbar-fixed-top(style="height:0px;")
		section.hero.is-fullheight(style="height:100%;")
			.hero-head
				include navigation
			.hero-body(style="height:80%;")
				.container(style="height:100%;")
					block content
			.hero-foot(style="margin-bottom: 50px;")
				include footer
