doctype html
html
	head
		title= title
		include header
	body.has-navbar-fixed-top
		section.hero.is-fullheight
			.hero-head
				include navigation
			.hero-body
				.container
					block content
			.hero-foot
				include footer
