nav.uk-navbar-container(uk-navbar='')
	.uk-navbar-left
		.uk-navbar-item
			a(href='/')
				img(src='/images/ocs-logo.png' style="height:32px").uk-logo
		.uk-navbar-nav
			li
				a(href='/jobsheet/') New
			li
				a(href='/jobsheet/all/') All
			li
				a(href='/jobsheet/assigned/') My Jobsheets
			li
				a(href='/jobsheet/part/all') Parts
			li
				a(href='/jobsheet/site/all') Site Visits
	.uk-navbar-right
		.uk-navbar-nav
			if user
				li
					a(href="#") #{user}
						.uk-navbar-dropdown.uk-padding-remove.uk-margin-remove
							ul.uk-nav.uk-navbar-dropdown-nav
								li
									a(href="/logout") Logout

