nav.uk-navbar-container.uk-margin(uk-navbar='')
	.uk-navbar-left
		.uk-navbar-item
			img(src='/images/ocs-logo-white-no-text.png' style="height:32px").uk-logo
		.uk-navbar-item
			div
				a(href='/') New
		.uk-navbar-item
			div
				a(href='/all') All
