nav.navbar.is-fixed-top.is-black(role='navigation' aria-label='main navigation' style="background:black !important;")
	.container
		.navbar-brand
			a.navbar-item(href='/')
				img(src='/images/ocs-logo-white-no-text.png')
			a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
				span(aria-hidden='true')
				span(aria-hidden='true')
				span(aria-hidden='true')
		#navbarBasicExample.navbar-menu
			.navbar-start
				a.navbar-item(href='/')
					| Home
				.navbar-item.has-dropdown.is-hoverable
					a.navbar-link
						| More
					.navbar-dropdown
						a.navbar-item
							| About
						a.navbar-item
							| Jobs
						a.navbar-item
							| Contact
						hr.navbar-divider
						a.navbar-item
							| Report an issue
			.navbar-end
				.navbar-item
				.buttons
					a.button.is-primary
						strong Sign up
					a.button.is-light
						| Log in
