nav.uk-navbar-container.uk-margin(uk-navbar='')
	.uk-navbar-left
		.uk-navbar-item
			a(href='/')
				img(src='/images/ocs-logo-white-no-text.png' style="height:32px").uk-logo
		.uk-navbar-nav
			li
				a(href='/') New
			li
				a(href='/jobsheets/all') All
